@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
 /* Global style  */
:root {
  --bg-dark: #000000;
  --bg-light: #dddddd;
  --bg-supper-light: #eff0f4;
  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0px 0px 0px #d0d0d0, 0px 0px 0px #f8f8f8;
  --inset-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  background-color: var(--bg-supper-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none
}
::before, ::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.outer-shadow {
  box-shadow: var(--outer-shadow)
}

.hover-in-shadow {
  position: relative;
  z-index: 1;
}

.hover-in-shadow:hover {
  box-shadow: var(--outer-shadow-0)
}

.hover-in-shadow:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all .3s ease;
}

.hover-in-shadow:hover:after {
  box-shadow: var(--inset-shadow);
}

.inner-shadow {
  box-shadow: var(--inset-shadow)
}
  
/* Header */

.header {
  padding: 20px 15px;
  z-index: 2;
  width: 100%;
}

.header .logo a{
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border: 2px solid var(--pink);
  color: var(--pink);
  border-radius: 50%;
  font-weight: 600;
  text-transform: uppercase;
}
.header .hamburger-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.header .hamburger-btn span {
  width: 16px;
  height: 2px;
  display: block;
  background-color: var(--bg-dark);
  position: relative;
  border-radius: 10px;
} 

.header .hamburger-btn span::before,
.header .hamburger-btn span::after{
  content: "";
  position: absolute;
  width: 100%;
  height:100%;
  left: 0;
  background-color: var(--bg-dark);
  border-radius: 10px;
}
.header .hamburger-btn span::before{
  top: -6px;
}
.header .hamburger-btn span::after{
  top: 6px;
}


/* Navigation */

.nav-menu {
  position: fixed;
  background-color: var(--bg-light);
  padding: 0 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  min-height: 100vh;
}

.nav-menu-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.nav-menu .close-nav-menu {
  display: block ;
  width: 40px;
  height: 40px;
  font-size: 35px;
  line-height: 35px;
  right: 15px;
  top: 15px;
  position: absolute;
  cursor: pointer;
  text-align: center;
  color: var(--text-black-600);
  border-radius: 50%;
  transform: all .3s ease;
}

.nav-menu ul {
  padding: 15px;
}

.nav-menu ul li {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.nav-menu ul li:last-child {
  margin-bottom: 0;
}
.nav-menu ul li a {
  display: inline-block;
  font-size: 28px;
  color: var(--text-black-700);
  font-weight: 600;
  padding: 5px 30px;
  border-radius: 30px;
  transform: all .3s ease;
  text-transform: capitalize;
}
.nav-menu ul li a:after {
  border-radius: 30px;
}

.nav-menu ul li a.active {
  color: var(--pink);
}
.home-section  {
  position: relative;
}
.home-section .full-screen {
  padding: 50px 0;
}

.home-section .home-text,
.home-section .home-img {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 30px;
} 
.home-section .home-text .text-content {
  max-width: 450px;
  display: block;
  margin: 0 auto;
}
.home-section .home-text p {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--text-black-600)
}
.home-section .home-text h2{
  font-size: 5rem;
  text-transform: capitalize;
  color: var(--text-black-900)
}
.home-section .home-text h1{
  font-size: 2.5rem;
  text-transform: capitalize;
  color: var(--text-black-600)
}
.home-section .home-img .img-box {
  max-width: 450px;
  display: block;
  margin: auto;
  padding: 15px;
  border-radius: 50%;
}
.home-section .home-img .img-box img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}

.effect-wrap .effect{
  position: absolute;
  z-index: -1;
}

.effect-1 {
  width: 30px;
  height: 30px;
  right: 10%;
  bottom: 10%;
  border: 4px solid var(--green);
  animation: spin 10s linear infinite;
}

.effect-2 {
  width: 100px;
  height: 100px;
  border: 10px solid var(--pink);
  border-radius: 50%;
  left: -50px;
  animation: topBound 3s linear infinite;
}

.effect-3 {
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--blue);
  transform: rotate(145deg);
  left: 50%;
  animation: spin 10s linear infinite;
}
.effect-3::after {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--blue);
  opacity:0.5;
  position: absolute;
  transform: translate(50%,-50%);
  right: 0;
}
.effect-4 {
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  bottom: 25%;
  left: 40%;
  animation: rightBound 3s linear infinite;
}
.effect-4 div {
  width: 3px;
  height: 3px;
  background-color: var(--orange);
  margin: 0 3px 8px;
}

.effect-5 {
  width: 50px;
  height: 50px;
  clip-path: circle(at center);
  top: 10%;
  right: 5%;
  animation: spin 10s linear infinite;
}

.effect-5 div {
  width: 100%;
  height: 2px;
  margin: 3px 0;
  background-color: var(--sky);
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  
  100% {
    transform: rotate(360deg)
  }
  
}

@keyframes topBound {
  0%, 100% {
    transform: translateY(30%)
  }

  50% {
    transform: translateY(0)
  }
}
@keyframes rightBound {
  0%, 100% {
    transform: translateX(70%)
  }

  50% {
    transform: translateX(0)
  }
}
