@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
 /* Global style  */
:root {
  --bg-dark: #000000;
  --bg-light: #dddddd;
  --bg-supper-light: #eff0f4;
  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0px 0px 0px #d0d0d0, 0px 0px 0px #f8f8f8;
  --inset-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
  --inset-shadow-0: inset 0px 0px 0px #d0d0d0, inset 0px 0px 0px #f8f8f8;
}

body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  background-color: var(--bg-supper-light);
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none
}
::before, ::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  max-width: 100%;
  margin: auto 30px;
  min-width: 375px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.w-50 {
  width: 50%;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.outer-shadow {
  box-shadow: var(--outer-shadow)
}

.hover-in-shadow {
  position: relative;
  z-index: 1;
}

.hover-in-shadow:hover {
  box-shadow: var(--outer-shadow-0)
}

.hover-in-shadow:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all .3s ease;
  z-index: -1;
}

.hover-in-shadow:hover:after {
  box-shadow: var(--inset-shadow);
}

.inner-shadow {
  box-shadow: var(--inset-shadow)
}

.section-title {
  padding: 0 15px;
  flex: 0 0 100%;
  text-align: center;
  max-width: 100%;
  margin-bottom: 60px;
}
.section-title h2{
  font-size: 2.5rem;
  display: inline-block;
  color: var(--text-black-900);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
} 

.section-title h2::before{
  content: attr(data-header);
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--pink);
}
/* Header */

.header {
  padding: 20px 15px;
  z-index: 2;
  width: 100%;
  position: fixed;
  background-color: var(--bg-supper-light);
}

.header .logo a{
  display: inline-block;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border: 2px solid var(--pink);
  color: var(--pink);
  border-radius: 50%;
  font-weight: 600;
  text-transform: uppercase;
}
.header .hamburger-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.header .hamburger-btn span {
  width: 16px;
  height: 2px;
  display: block;
  background-color: var(--bg-dark);
  position: relative;
  border-radius: 10px;
} 

.header .hamburger-btn span::before,
.header .hamburger-btn span::after{
  content: "";
  position: absolute;
  width: 100%;
  height:100%;
  left: 0;
  background-color: var(--bg-dark);
  border-radius: 10px;
}
.header .hamburger-btn span::before{
  top: -6px;
}
.header .hamburger-btn span::after{
  top: 6px;
}


/* Navigation */

.nav-menu {
  position: fixed;
  background-color: var(--bg-supper-light);
  padding: 0 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  min-height: 100vh;
}

.fade-out-effect {
  width: 100%; 
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  visibility: hidden;
}
.fade-out-effect.active {
  visibility: visible;
  z-index: 1000;
  animation: fadeOut 0.3s ease;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  
}
.open {
  visibility: visible;
  opacity: 1;
  z-index: 99;
  transition: all 0.3s ease;
}

.nav-menu-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.nav-menu .close-nav-menu {
  display: block ;
  width: 40px;
  height: 40px;
  font-size: 35px;
  line-height: 35px;
  right: 15px;
  top: 15px;
  position: absolute;
  cursor: pointer;
  text-align: center;
  color: var(--text-black-600);
  border-radius: 50%;
  transform: all .3s ease;
}

.nav-menu ul {
  padding: 15px;
}

.nav-menu ul li {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.nav-menu ul li:last-child {
  margin-bottom: 0;
}
.nav-menu ul li a {
  display: inline-block;
  font-size: 28px;
  color: var(--text-black-700);
  font-weight: 600;
  padding: 5px 30px;
  border-radius: 30px;
  transform: all .3s ease;
  text-transform: capitalize;
}
.nav-menu ul li a:after {
  border-radius: 30px;
}

.nav-menu ul li a.active {
  color: var(--pink);
}

.home-section  {
  position: relative;
  min-height: 100vh;
  top: 100px;
}

.home-section .full-screen {
  padding: 50px 0;
}

.home-section .home-text,
.home-section .home-img {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 30px;
} 
.home-section .home-text .text-content {
  max-width: 550px;
  display: block;
  margin: 0 auto;
  --font: 3rem;
}
.btn-1 {
  width: fit-content;
  height: auto;
  margin: 30px 10px;
  padding: 15px 20px;
  border-radius: 20px;
  color: var(--pink);
  white-space: nowrap;
  text-transform: capitalize;
  display: block;
  border: none;
}
.btn-1:hover {
  box-shadow: var(--inset-shadow)
}
.home-section .home-text p {
  font-size: calc(var(--font) * 1);
  text-transform: capitalize;
  color: var(--text-black-600)
}
.home-section .home-text h2{
  font-size: calc(var(--font) * 2.5);
  text-transform: capitalize;
  color: var(--text-black-900)
}
.home-section .home-text h1{
  font-size: calc(var(--font) * 1);
  text-transform: capitalize;
  color: var(--text-black-600)
}

.img-box {
  max-width: 450px;
  display: block;
  margin: auto;
  padding: 15px;
}
.home-section .home-img .img-box {
  border-radius: 50%;
}
.home-section .home-img .img-box img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}

.effect-wrap .effect{
  position: absolute;
  z-index: -1;
}

.effect-1 {
  width: 30px;
  height: 30px;
  right: 10%;
  bottom: 40%;
  border: 4px solid var(--green);
  animation: spin 10s linear infinite;
}

.effect-2 {
  width: 100px;
  height: 100px;
  border: 10px solid var(--pink);
  border-radius: 50%;
  left: -50px;
  animation: topBound 3s linear infinite;
}

.effect-3 {
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--blue);
  transform: rotate(145deg);
  left: 50%;
  animation: spin 10s linear infinite;
}
.effect-3::after {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--blue);
  opacity:0.5;
  position: absolute;
  transform: translate(50%,-50%);
  right: 0;
}
.effect-4 {
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  bottom: 40%;
  left: 40%;
  animation: rightBound 3s linear infinite;
}
.effect-4 div {
  width: 3px;
  height: 3px;
  background-color: var(--orange);
  margin: 0 3px 8px;
}

.effect-5 {
  width: 50px;
  height: 50px;
  clip-path: circle(at center);
  top: 10%;
  right: 5%;
  animation: spin 7s linear infinite;
}

.effect-5 div {
  width: 100%;
  height: 2px;
  margin: 3px 0;
  background-color: var(--sky);
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  
  100% {
    transform: rotate(360deg)
  }
  
}

@keyframes topBound {
  0%, 100% {
    transform: translateY(30%)
  }

  50% {
    transform: translateY(0)
  }
}
@keyframes rightBound {
  0%, 100% {
    transform: translateX(70%)
  }

  50% {
    transform: translateX(0)
  }
}

/* About section */

.about-section {
  padding: 80px 0 80px;
  min-height: 100vh;
}

.about-section .about-img {
  max-width: 50%;
  padding: 0 15px;
}
.about-section .about-img .img-box img {
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
}
.about-section .about-info {
  max-width: 50%;
  padding: 0 15px;
}
.about-section .about-info p {
  color: var(--text-black-600);
}
.about-section .about-info span {
  color: var(--text-black-900);
  font-weight: 900;
}

/* services */

.services-section {
  padding: 80px 0 80px;
  min-height: 100vh;
  --colums: 3;
  --spacing: 15px;
}

.services-section .service-item {
  flex: 0 0 calc(100% / var(--colums));
  max-width: calc(100% / var(--colums));
  padding: var(--spacing);
}

.service-item .service-item-inner {
  padding: 50px 15px;
  border-radius: 5px;
  text-align: center;
}

.service-item .service-item-inner .icon{
  width: 60px;
  height: 60px;
  margin: 0 auto 30px;
  border-radius: 50%;
  display: block;
  text-align: center;
  transform: all .3s ease;
  position: relative;
}
.service-item .service-item-inner .icon:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  transition: all .3s ease;
}

.service-item .service-item-inner:hover .icon{
  color: var(--pink);
  box-shadow: var(--inset-shadow-0);
}
.service-item .service-item-inner:hover .icon:after{
  box-shadow: var(--outer-shadow);
}
.service-item .service-item-inner .icon i{
  line-height: 60px;
  font-size: 2rem;
}
.service-item .service-item-inner h3{
  font-size: 1.2em;
  color: var(--text-black-700);
}
.service-item .service-item-inner p{
  font-size: 1em;
  color: var(--text-black-600);
}

/* Porfolio */
.porfolio-section {
  padding: 80px 0 80px;
  min-height: 100vh;
  --colums: 3;
  --spacing: 15px;
}

.porfolio-section .porfolio-filter{
  margin: 0 auto 30px;
}

.porfolio-section .filter-item{
  padding: 15px;
  border-radius: 30px;
  line-height: 1.5;
  font-size: 1.3em;
  cursor: pointer;
  transition: all .3s ease;
  text-transform: capitalize;
  white-space: nowrap;
  display: inline-block;
}

.porfolio-filter :not(.active){
  opacity: 0.6;
}
.porfolio-filter .active{
  color: var(--pink);
  box-shadow: var(--outer-shadow);
}
.porfolio-filter .filter-item:hover{
  color: var(--pink);
}

.porfolio-section .porfolio-item {
  flex: 0 0 calc(100% / var(--colums));
  padding: var(--spacing);
}

.porfolio-section .porfolio-item.hide{
  display: none;
}
.porfolio-section .porfolio-item.show{
  display: block;
  animation: fadeInTop 0.5s ease;
}

@keyframes fadeInTop {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
.porfolio-section .porfolio-item-inner {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.porfolio-section .porfolio-item-inner img{
  border-radius: 5px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all .3s ease;
  flex-shrink: 0;
}
.porfolio-item-inner .porfolio-item-image {
  position: relative;
}
.porfolio-item-inner .view-project{
  position: absolute;
  left: 0;
  bottom: 0;
  color: var(--pink);
  padding: 0 10px;
  transition: all .3s ease;
  text-transform: capitalize;
  font-size: 2rem;
  z-index: -1;
}
.porfolio-section .porfolio-item-inner:hover .view-project {
  transform: translateY(10%);
}
.porfolio-section .porfolio-item-inner:hover img {
  transform: translateY(-15%);
}

/* Testerminal */
.testerminal-section {
  min-height: 100vh;
  padding: 80px 0 80px;
}

.testerminal-section .testi-container{
  display: flex;
  transition: margin 1s ease;
}
.testerminal-section .testi-box {
  margin: auto;
  width: 100%;
  max-width: 600px;
}

.testerminal-section .testti-slider {
  border-radius: 5px;
  margin: 0 0 30px;
  overflow-x: hidden;
}

.testerminal-section .testi-item{
  text-align: center;
  padding: 30px;
  position: relative;
}

.testerminal-section .testi-item i {
  position: absolute;
  font-size: 30px;
  color: var(--text-black-600);
  opacity: 0.3;
}

.testerminal-section .testi-item i.left {
  top: 5px;
  left: 5px;
}
.testerminal-section .testi-item i.right {
  bottom: 5px;
  right: 5px;
}
.testerminal-section .testi-item p {
  margin: 0 0 30px;
  color: var(--text-black-600)
}
.testerminal-section .testi-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 0 15px;
}
.testerminal-section .testi-item span {
  display: block;
  text-transform: capitalize;
  font-weight: 600;
}

.testerminal-section .testti-slider-nav {
  text-align: center;
}
.testerminal-section .testti-slider-nav span {
  padding: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
  color: var(--pink);
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.testerminal-section .testti-slider-nav span:after {
  border-radius: 50%;
}

/* Contact */

.contact-section {
  width: 100%;
  min-width: 100vh;
  margin: 80px 0 80px;
  --colums: 3;
  --spacing: 15px;
}

.contact-section .contact-item {
  flex: 0 0 calc(100% / var(--colums));
  padding: var(--spacing);
  display: flex;
  margin: 0 0 30px;
}
.contact-section .contact-item-inner {
  padding: 30px 15px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}
.contact-section .contact-item-inner i {
  color: var(--pink);
  font-size: 2rem;
}
.contact-section .contact-item-inner span {
  display: block;
  font-size: 1.5rem;
  color: var(--text-black-700);
  font-weight: 600;
  margin: 10px 0 5px;
  text-transform: capitalize;
}
.contact-section .contact-item-inner p {
  font-size: 1.4rem;
  color: var(--text-black-700);
  font-weight: 300;
  line-height: 1.5;
  word-break: break-word;
}

.contact-section .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact-section .w-50 {
  padding: 0 15px;
  flex: 0 0 50%;
  max-width: 50%;
}

.contact-section .input-group {
  transition: all 0.3s ease;
  border-radius: 30px;
}

.contact-section .input-control {
  border-radius: 30px;
  width: 100%;
  display: block;
  height: 45px;
  margin: 0 0 15px;
  outline: none;
  border: none;
  padding: 0 15px;
  background-color: transparent;
  color: var(--text-black-700);
  font-weight: 400;
}
.contact-section textarea.input-control {
  height: 180px;
  padding-top: 15px;
  resize: none;
}
.contact-section .submit-btn {
  margin-left: auto;
}
.contact-section .submit-btn button::after {
  border-radius: 30px;
}
/* ------------------------ */
@media (max-width: 768px) {
  .home-section .home-text .text-content {
    --font: 2rem;
  }
  .service-item {
    --colums: 2;
  }
  .porfolio-section {
    --colums: 2;
  }
  .porfolio-section .porfolio-item-inner img{
    height: 200px;
  }
}

.footer-section p {
  font-size: 1rem;
  color: var(--text-black-600);
}

@media (max-width: 450px) {
  .service-item {
    --colums: 1;
  }
  .porfolio-section {
    --colums: 1;
  }
}
